body {
    background-color: #0D101A;
}

.regis-content {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 70px 0;
}

.form-container {
    background-color: black;
    width: 30%;
    margin: auto;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 15px darkslategray;
    font-family: 'Poppins', sans-serif;
}

.form-container > h1 {
    padding: 15px;
    font-family: 'Raleway', sans-serif;
}

.fill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio {
    width: 51%;
    display: flex;
    justify-content: start;
}

#nickname, #email, #password {
    color: black;
}

#checkbox {
    margin: 10px;
    cursor: pointer;
}

#submitBtn {
    background-color: darkslategrey;
    padding: 8px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.radio > div {
    margin-right: 3%;
}

.fill > input {
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

@media only screen and (max-width: 800px) {
    .regis-content {
        height: 70vh;
    }

    .form-container {
        width: 70%;
    }
    
    .form-container, .fill > input {
        font-size: 12px;
    }
}